# Python data structutrs:
- string
- list
- tuple
- set
- dictionary

# Strings

In [1]:
type('I am khamir')

str

In [2]:
s = 'I am khamir'

In [10]:
s[0], s[3], s[-1]

('I', 'm', 'r')

In [12]:
s[-3]

'm'

In [7]:
s[2:4]

'am'

In [8]:
s[:4]

'I am'

In [9]:
s[5:]

'khamir'

In [15]:
s1 = 'Hello!'
s2 = 'This is amir'

s3 = s1 + ' ' + s2 
print(s3)

Hello! This is amir

In [16]:
len(s3)

19

In [17]:
print(s1)
s1 += '....' # s1 = s1 + '....'
print(s1)

Hello!
Hello!....

In [21]:
', '.join('1234567890')

'1, 2, 3, 4, 5, 6, 7, 8, 9, 0'

In [22]:
L = 'AMIR'
print(L.lower())

U = 'amir'
print(U.upper())

C = 'amIR'
print(C.capitalize())

amir
AMIR
Amir

In [25]:
int('123.1')

ValueError: invalid literal for int() with base 10: '123.1'

In [26]:
float('123.1')

123.1

In [27]:
S = '2020:10:30'

In [28]:
S.split(':')

['2020', '10', '30']

In [29]:
'amir' * 3

'amiramiramir'

In [32]:
s = 'my name is amir!'
print(s.find('is'))
print(s.find('Amir'))
print(s.find('am'))

8
-1
4

In [33]:
s = 'my name is amir!'

print(s.removeprefix('my name is '))
print(s.removesuffix('amir!'))
print(s.replace('amir', 'Amir'))

amir!
my name is
my name is Amir!

In [34]:
s.replace('name', '')

'my  is amir!'

In [38]:
'5.txt'.zfill(6)

'05.txt'

In [39]:
for i in range(1, 101):
    print(str(i).zfill(3)+'.txt')

001.txt
002.txt
003.txt
004.txt
005.txt
006.txt
007.txt
008.txt
009.txt
010.txt
011.txt
012.txt
013.txt
014.txt
015.txt
016.txt
017.txt
018.txt
019.txt
020.txt
021.txt
022.txt
023.txt
024.txt
025.txt
026.txt
027.txt
028.txt
029.txt
030.txt
031.txt
032.txt
033.txt
034.txt
035.txt
036.txt
037.txt
038.txt
039.txt
040.txt
041.txt
042.txt
043.txt
044.txt
045.txt
046.txt
047.txt
048.txt
049.txt
050.txt
051.txt
052.txt
053.txt
054.txt
055.txt
056.txt
057.txt
058.txt
059.txt
060.txt
061.txt
062.txt
063.txt
064.txt
065.txt
066.txt
067.txt
068.txt
069.txt
070.txt
071.txt
072.txt
073.txt
074.txt
075.txt
076.txt
077.txt
078.txt
079.txt
080.txt
081.txt
082.txt
083.txt
084.txt
085.txt
086.txt
087.txt
088.txt
089.txt
090.txt
091.txt
092.txt
093.txt
094.txt
095.txt
096.txt
097.txt
098.txt
099.txt
100.txt

# Lists

In [40]:
L = [1, 2, 3.14, 'amir', 2+3j, [-1, -3, 'hosein']]

In [42]:
L[0], L[4]

(1, (2+3j))

In [44]:
L[-1][1]

-3

In [46]:
L[2:5]

[3.14, 'amir', (2+3j)]

In [47]:
len(L)

6

In [48]:
L = [i**2 for i in range(10)]

In [49]:
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
L = []

for i in range(10):
    L.append(i**2)
    print(L)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
L1 = [1, 2, 3]
L2 = L1.copy()
L2[0] = -1
print(L1[0])

1

In [54]:
print([1, 2, 3] + [4, 5, 6])
print([1, 2, 3] * 2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]

In [55]:
' '.join(['It', 'is', 'a', 'book'])

'It is a book'

In [66]:
L = [2, 1, 4, 3, 6, 5, 8, 7]
print(L)

L.reverse()
print(L)

print(L.pop())
print(L)

L.sort()
print(L)

L.insert(1, 2)
print(L)

L.append(5)
print(L)
L.remove(5)
print(L)

print(L.index(6))

[2, 1, 4, 3, 6, 5, 8, 7]
[7, 8, 5, 6, 3, 4, 1, 2]
2
[7, 8, 5, 6, 3, 4, 1]
[1, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 5]
[1, 2, 3, 4, 6, 7, 8, 5]
4

In [65]:
print(L)
L.clear()
print(L)

[1, 2, 3, 4, 6, 7, 8]
[]

In [67]:
L = ['amir', 'ali', 'sina', 'fatemeh']

In [72]:
print(L)
print(L.pop())
print(L)

[]

IndexError: pop from empty list

In [76]:
L = ['amir', 'ali', 'sina', 'fatemeh']
L.pop(1)

'ali'

# Tuples

In [77]:
T = (1, 2, 3, 4)

In [78]:
T[0] = -1

TypeError: 'tuple' object does not support item assignment

# Set

In [1]:
S = {1, 2, 3, 4, 4, -1, 6}

In [2]:
print(S)

{1, 2, 3, 4, 6, -1}

In [14]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}

In [15]:
S1.union(S2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
S1.intersection(S2)

{4, 5}

In [17]:
S1.add(6)

In [18]:
S1

{1, 2, 3, 4, 5, 6}

In [19]:
S1.remove(5)

In [20]:
S1

{1, 2, 3, 4, 6}

In [23]:
-1 in S

True

In [24]:
for e in S:
    print(e)

1
2
3
4
6
-1

In [25]:
for i, e in enumerate(S):
    print(i, e)

0 1
1 2
2 3
3 4
4 6
5 -1

In [30]:
10 in [1, 3, 5, 7, 10]

True

In [27]:
'amir' in 'Khamir'

True

In [28]:
'amir' in ('amir', 'ali', 'reza')

True

# Dictionary

In [35]:
D = {'k1':'v1',
     'k2':'v2',
     'k3':'v3',
     'k4':'v4'}

In [36]:
D['k2']

'v2'

In [39]:
list(D.keys())

['k1', 'k2', 'k3', 'k4']

In [40]:
list(D.values())

['v1', 'v2', 'v3', 'v4']

In [41]:
len(D)

4

In [42]:
age_dic = {}
name = input('name: ')
age = int(input('age:'))
age_dic[name] = age

while name != '.' and age != -1:
    name = input('name: ')
    age = int(input('age:'))
    age_dic[name] = age

name: amir
age:26
name: Naser
age:33
name: Berangi
age:26
name: .
age:-1

In [48]:
age_dic['Naser']

33

In [47]:
list(D.keys())[list(D.values()).index('v3')]

'k3'

In [54]:
list(D.keys())[list(D.values()).index('v2')]

'k2'

In [50]:
D

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3', 'k4': 'v4'}

In [55]:
data = {'name': [],
        'age': [],
        'weight': [],
        'height': []}

In [60]:
data = {'name': [],
        'age': [],
        'weight': [],
        'height': []}

e = input('enter entry: ')

while e != '.':
    data['name'].append(e.split()[0])
    data['age'].append(int(e.split()[1]))
    data['weight'].append(int(e.split()[2]))
    data['height'].append(int(e.split()[3]))
    e = input('enter entry: ')

enter entry: amir 24 180 70
enter entry: ali 33 190 45
enter entry: reza 19 110 31
enter entry: .

In [61]:
data

{'name': ['amir', 'ali', 'reza'],
 'age': [24, 33, 19],
 'weight': [180, 190, 110],
 'height': [70, 45, 31]}

In [59]:
data

{'name': ['amir', 'ali', 'rose', 'Deli', '.'],
 'age': [26, 31, 33, 27],
 'weight': [180, 175, 160, 189],
 'height': [70, 59, 76, 63]}

In [64]:
int('amir 24 180 70'.split()[1])

24